<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @detallepresupuesto.cantidad %>
</p>

<%= link_to 'Edit', edit_detallepresupuesto_path(@detallepresupuesto) %> |
<%= link_to 'Back', detallepresupuestos_path %>
