 <tr row=25px>
        <td><%= categoria.nombre %></td>
        <td><%= link_to 'Mostrar', categoria, class: "btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_categoria_path(categoria, remote: "true"), class: "btn btn-success" %></td>
        <td><%= link_to 'Eliminar', categoria, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
 </tr>