<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categoria.nombre %>
</p>

<%= link_to 'Edit', edit_categoria_path(@categoria), class: "btn btn-primary" %> |
<%= link_to 'Back', categorias_path %>
