<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalle_presupuesto.cantidad %>
</p>

<%= link_to 'Edit', edit_detalle_presupuesto_path(@detalle_presupuesto) %> |
<%= link_to 'Back', detalle_presupuestos_path %>
